*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.main-cadastro {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form div {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="number"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
}
input[type="submit"] {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

textarea {
    width: 60%; /* Ajusta a largura para 100% do contêiner */
    height: 80px; /* Ajusta a altura conforme necessário */
}
input[type="submit"]:hover {
    background-color: #0056b3;
}

.index {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.index h2 {
    text-align: center;
    margin-bottom: 20px;
}

.buttons {
    display: flex;
    justify-content: center; 
    
    
}

#adicionar a {
    margin-right: 30px;
    text-decoration: none;
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

#listar a {
    text-decoration: none;
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.main-table {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10%;
}

.main-table h2 {
    margin-bottom: 20px;
}
table {
    width: 100%;
    border-collapse: collapse;
 
}
th, td {
    border: 1px solid #ddd;
    padding: 8px;
    width: 150px; /* Defina a largura fixa das colunas */
    height: 40px; /* Defina a altura fixa das células */
}

th {
    background-color: #f2f2f2;
    text-align: left;
}
tr:nth-child(even) {
    background-color: #f9f9f9;
}

.sinopse {
    width: 380px; /* Largura específica para a coluna de sinopse */
}

.actions {
    width: 180px;
}

.actions a {
    text-decoration: none;
    
}

#editar {
    background-color: #007bff;
    margin-right: 10px;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

#excluir {
    background-color: #FF0000;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.voltar {
    display: flex;
    float: right;
    
}

.voltar a {
    text-decoration: none;
    background-color: #19324e;
    margin-right: 10px;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 1065px;
}