* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.main-cadastro {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form div {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="number"],
input[type="date"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

input[type="submit"] {
    background-color: #B5C18E; /* Cor especificada para o botão adicionar */
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #A0A97C; /* Cor mais escura para o botão adicionar ao passar o mouse */
}

textarea {
    width: 100%; /* Ajusta a largura para 100% do contêiner */
    height: 80px; /* Ajusta a altura conforme necessário */
}

.index {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.index h2 {
    text-align: center;
    margin-bottom: 20px;
}

.buttons {
    display: flex;
    justify-content: center;
}

#adicionar a,
#listar a {
    text-decoration: none;
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}

#adicionar a:hover,
#listar a:hover {
    background-color: #0056b3;
}

.main-table {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10%;
}

.main-table h2 {
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    width: 150px; /* Defina a largura fixa das colunas */
    height: 40px; /* Defina a altura fixa das células */
}

th {
    background-color: #f2f2f2;
    text-align: left;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

.actions {
    width: 180px;
}

.actions a {
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

#editar {
    background-color: #C7B7A3; /* Cor especificada para o botão editar */
    margin-right: 10px;
    color: white;
    border: none;
}

#editar:hover {
    background-color: #B8A48E; /* Cor mais escura para o botão editar ao passar o mouse */
}

#excluir {
    background-color: #FF0000; /* Botão excluir permanece vermelho */
    color: white;
    border: none;
}

#excluir:hover {
    background-color: #CC0000; /* Cor mais escura para o botão excluir ao passar o mouse */
}

.voltar {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.voltar a {
    text-decoration: none;
    background-color: #19324e;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.voltar a:hover {
    background-color: #102438; /* Cor mais escura para o botão voltar ao passar o mouse */
}
